{include file="./partials/intro/sub_header.html"}

<div class="container">
	<div id="why_needed">
		<div>Зачем<br>это нужно?</div>
		<div class="why_needed_text">Сегодня все большее количество организаций различных отраслей задумываются о внедрении программ для автоматизации бизнеса</div>
		<div class="why_needed_text_mobile">Сегодня все большее количество организаций различных отраслей задумываются о внедрении программ для автоматизации бизнеса.</div>
	</div>
</div>

<div class="container">
	<div id="cards">
		<div>
			<div class="cards_item" onclick="intro.video_window(1);">
				<div class="cards_cover"><i></i><img src="/images/intro/index/marker.jpg?1"></div>
                <div class="cards_content">
                  <span class="cards_subtitle">Веб-приложение</span>
                  <h3 class="h3 cards_title">Маркер<i class="cards_icon icon_arrow_right"></i></h3>
                  <p class="cards_text">Веб-приложение, которое позволит Вам исполнить любые требования к маркировке всех типов оборудования. Создавайте в сервисе уникальные этикетки, привязывайте к коду информацию и документацию и маркируйте все необходимое: продукцию, документацию, грузовые места и оборудование.</p>
                </div>
			</div>
		</div>
		<div>
			<div class="cards_item" onclick="intro.video_window(2);">
                <div class="cards_cover"><i></i><img src="/images/intro/index/scaner.jpg?1"></div>
                <div class="cards_content">
                  <span class="cards_subtitle">Мобильное приложение</span>
                  <h3 class="h3 cards_title">Сканер<i class="cards_icon icon_arrow_right"></i></h3>
                  <p class="cards_text">Мобильное приложение для Android, которое считывает любой тип кода, сформированного в «Маркере» для идентификации продукции и проведения складских и производственных операций с автоматической передачей во внешние учетные системы (1С, WMS). Не получается загрузить или открыть приложение? Сканируйте код камерой телефона и просматривайте основную информацию в мобильном браузере.</p>
                </div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div id="two_products">
        <div style="display: table-cell; width: 40%; vertical-align: top; background-image: url(/images/intro/index/bauleiter.jpg?3); background-size: cover; background-position: 50% 50%;"></div>
		<div style="display: table-cell; width: 60%; vertical-align: top; padding-left: 50px;">
			<h3 class="h3">Два продукта<br>масса возможностей</h3>
			<div class="two_products_table">
				<div>
					<div>
						<i class="icon_order two-products__icon"></i>
						<div class="two_products_title">Доступность</div>
						<div class="two_products_text">Переходите с дорогостоящего сканирующего оборудования на привычные смартфоны и сократите общую стоимость владения более чем в 3 раза.</div>
					</div>
					<div>
						<i class="icon_stopwatch two-products__icon"></i>
						<div class="two_products_title">Скорость</div>
						<div class="two_products_text"><a href="/scaner">«Сканер»</a> позволяет в одно касание распознавать и считывать сразу несколько кодов. Это позволит оптимизировать время и ресурсы на проведение складских и производственных операций.</div>
					</div>
				</div>
				<div>
					<div>
						<i class="icon_preferences two-products__icon"></i>
						<div class="two_products_title">Гибкость</div>
						<div class="two_products_text">Различные варианты интеграции в бизнес-процессы. Гибкий выбор функциональных возможностей для удовлетворения потребностей бизнеса.</div>
					</div>
					<div>
						<i class="icon_certificate two-products__icon"></i>
						<div class="two_products_title">Доверие</div>
						<div class="two_products_text">Повышайте уровень доверия к вашей продукции и организации на рынке, работая в надежном сервисе, которому доверяют крупные компании различных отраслей.</div>
					</div>
				</div>
				<div>
					<div>
						<i class="icon_qr-code two-products__icon"></i>
						<div class="two_products_title">Универсальность</div>
						<div class="two_products_text">Сканируйте вашим смартфоном различные типы кодов (1D, QR, DataMatrix), даже при повреждении кодов, даже на расстоянии и под любым углом.</div>
					</div>
					<div>
						<i class="icon_salesman two-products__icon"></i>
						<div class="two_products_title">Всегда на связи</div>
						<div class="two_products_text">Консультация специалистов в режиме реального времени. Помощь по внедрению решения в бизнес-процессы вашей организации.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="i_how_working">
		<div class="i_how_working_title">Как это работает?</div>
		<div class="i_how_working_container">
			<div class="i_how_working_block first">
				<img class="i_how_working_block_img" src="/images/intro/index/how_working_1.png">
				<div class="i_how_working_block_title">Производитель продукции</div>
				<a href="/marker" class="i_how_working_b_tag orange">Маркер</a>
				<div class="i_how_working_block_item">Данные и документация по продукции заносятся в Маркер из внутренней системы пользователя при помощи гибкого API.</div>
				<div class="i_how_working_block_item">Формирование и печать этикеток для маркировки единичной продукции/партии/упаковки/грузового места в соответствии с требованиями Заказчика</div>
			</div>
			<img src="/images/intro/index/line_1.png" class="i_how_working_line_first">
			<div class="i_how_working_block second">
				<img class="i_how_working_block_img" src="/images/intro/index/how_working_2.png">
				<div class="i_how_working_block_title">Распределительный центр</div>
				<a href="/scaner" class="i_how_working_b_tag green">Сканер</a>
				<div class="i_how_working_block_item">Распределение по транспортным средствам</div>
				<div class="i_how_working_block_item">Идентификация продукции и назначение место для хранения</div>
				<div class="i_how_working_block_item">Комплектование и поиск неотгруженных заказов</div>
				<div class="i_how_working_block_item">Простановка статусов</div>
				<a href="/marker" class="i_how_working_b_tag orange">Маркер</a>
				<div class="i_how_working_block_item">Первичная маркировка штрих-кодом</div>
			</div>
			<img src="/images/intro/index/line_2.png" class="i_how_working_line_second">
			<div class="i_how_working_block third">
				<img class="i_how_working_block_img" src="/images/intro/index/how_working_3.png">
				<div class="i_how_working_block_title">Склад</div>
				<a href="/scaner" class="i_how_working_b_tag green">Сканер</a>
				<div class="i_how_working_block_item">Идентификация продукции</div>
				<div class="i_how_working_block_item">Автоматическое формирование транзакций по оприходованию и отгрузке в WMS системе</div>
				<div class="i_how_working_block_item">Инвентаризация продукции</div>
				<a href="/marker" class="i_how_working_b_tag orange">Маркер</a>
				<div class="i_how_working_block_item">Привязка дополнительных средств идентификации (RFID метки)</div>
				<div class="i_how_working_block_item">Наполнение метки данными (документация, акты, параметры)</div>
			</div>
			<img src="/images/intro/index/line_3.png" class="i_how_working_line_third">
			<div class="i_how_working_block fourth">
				<img class="i_how_working_block_img" src="/images/intro/index/how_working_4.png">
				<div class="i_how_working_block_title">Потребитель</div>
				<a href="/scaner" class="i_how_working_b_tag green">Сканер</a>
				<div class="i_how_working_block_item">Идентификация изделия</div>
				<div class="i_how_working_block_item">Просмотр информации о продукции в любой момент жизненного цикла</div>
				<div class="i_how_working_block_item">Контроль сроков проведения технического обслуживания и ремонта</div>
				<div class="i_how_working_block_item">Прямое взаимодействие с поставщиками</div>
				<a href="/marker" class="i_how_working_b_tag orange">Маркер</a>
				<div class="i_how_working_block_item">Наполнение метки данными (документация, данные о ТО и ремонте, др.)</div>
			</div>
		</div>
	</div>

	<div id="marker_title"><div>Веб-приложение<br> <a href="/marker">«Маркер»</a></div></div>
	<div id="marker">
		<div>
			<div class="marker_video"><div>
				<video playsinline autoplay muted loop>
					<source src="/video/laptop.mp4?3" type="video/mp4">
				</video>
			</div></div>
		</div>
		<div>
			<div class="marker_item"><div>№1</div><div>Создавайте и заполняйте характеристики продукции в соответствии с требованиями Заказчика. Загружайте неограниченное количество документации любых размеров и форматов.</div></div>
			<div class="marker_item"><div>№2</div><div>Выбирайте тип маркировки (QR, 1D, DataMatrix) и формируйте уникальную этикетку в удобном графическом конструкторе.</div></div>
			<div class="marker_item"><div>№3</div><div>Наносите этикетку на продукцию, грузовые места или документацию. Когда изделие промаркировано, вся информация по нему хранится в надежной системе.</div></div>
		</div>
	</div>

	<div id="scaner_title">Мобильное приложение<br><a href="/scaner">«Сканер»</a></div>
	<div id="scaner_video_mobile"><div>
		<video playsinline autoplay muted loop>
			<source src="/video/phone.mp4?3" type="video/mp4">>
		</video>
	</div></div>
	<div id="scaner">
		<div>
			<div class="scaner_item"><div>№1</div><div>Наведите камерой телефона на код и получите доступ к полной информации и документации по поставляемой продукции. Просматривайте, делитесь и сохраняйте для доступа в off-line.</div></div>
			<div class="scaner_item"><div>№2</div><div>Считывайте коды и передавайте данные по продукции во внутренние системы (WMS, 1C) при помощи гибкого API.</div></div>
			<div class="scaner_item"><div>№3</div><div>Не можете скачать приложение? Отсканируйте код камерой вашего телефона и получите доступ к текстовой информации, необходимой для идентификации продукции.</div></div>
		</div>
		<div>
			<div id="scaner_video"><div>
				<video playsinline autoplay muted loop>
					<source src="/video/phone.mp4?3" type="video/mp4">
					<source src="/video/phone.ogv?3" type="video/ogg">
					<source src="/video/phone.webm?3" type="video/webm">
				</video>
			</div></div>
		</div>
	</div>
	
	<div class="cards_mobile">
		<div class="cards_mobile_title">Веб-приложение «Маркер»</div>
		<div class="cards_mobile_text">Веб-приложение, которое позволит Вам исполнить любые требования к маркировке всех типов оборудования. Создавайте в сервисе уникальные этикетки, привязывайте к коду информацию и документацию и маркируйте все необходимое: продукцию, документацию, грузовые места и оборудование.</div>
		<a class="cards_mobile_link" href="/marker">На страницу продукта</a>
		<div class="cards_mobile_photo marker"></div>
	</div>
	
	<div class="cards_mobile">
		<div class="cards_mobile_title">Мобильное приложение «Сканер»</div>
		<div class="cards_mobile_text">Мобильное приложение для Android, которое считывает любой тип кода, сформированного в «Маркере» для идентификации продукции и проведения складских и производственных операций с автоматической передачей во внешние учетные системы (1С, WMS). Не получается загрузить или открыть приложение? Сканируйте код камерой телефона и просматривайте основную информацию в мобильном браузере.</div>
		<a class="cards_mobile_link" href="/scaner">На страницу продукта</a>
		<div class="cards_mobile_photo scaner"></div>
	</div>
	
</div>

{include file="./partials/intro/sub_submit.html"}
{include file="./partials/intro/sub_footer.html"}